.header_link {
  color: aquamarine;
}

.header_link:hover {
  color: aqua;
}

.ul_header {
  list-style-type: none;
}
li {
  list-style-type: none;
}
.h1_header_title_class {
  color: blueviolet;
}
.h1_header_title_class .accent {
  color: brown;
}
